; -*- mode: clojure; -*-
; vim: filetype=clojure
;

(use '[clojure.string :only (join)]
     '[gordon.riemann.core :as c])

(logging/init :file "log/riemann.log")

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "127.0.0.1"]
  (tcp-server :host host)
  (udp-server :host host)
  (ws-server  :host host)
  (repl-server :host host))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(defn log-at-info [event]
  (info event))

; Keep events in the index for 5 minutes by default.
(let [index (default :ttl 300 (update-index (index)))]

  ; Inbound events will be passed to these streams:
  (streams

    c/handle-event

    index
    ; Log expired events.
    (expired
      (fn [event] (info "expired" event)))
))
